<footer class="footer__background">
    <nav class="footer__container1">
        <ul>
            <li><a style="text-decoration:none"href="https://adalab.es" title="Ir a la página de Adalab" class="footer_links">
                    <h2>ARTICLES</h2>
                </a>
            </li>
            <li><a style="text-decoration:none"href="https://adalab.es" title="Ir a la página de Adalab" class="footer_links">
                    <h2>BOOKS</h2>
                </a>

            </li>
            <li><a style="text-decoration:none"href="https://adalab.es" title="Ir a la página de Adalab" class="footer_links">
                    <h2>EVENTS</h2>
                </a>

            </li>
            <li><a style="text-decoration:none"href="https://adalab.es" title="Ir a la página de Adalab" class="footer_links">
                    <h2>REASONS</h2>
                </a>

            </li>
            <li><a style="text-decoration:none"href="https://adalab.es" title="Ir a la página de Adalab" class="footer_links">
                    <h2>TIPS</h2>
                </a>

            </li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li><a style="text-decoration:none"href="https://adalab.es" title="Ir a la página de Adalab" class="footer_links footer_twitter">
                    <h2>TWITTER</h2>
                </a>
            </li>
            <li><a style="text-decoration:none"href="https://adalab.es" title="Ir a la página de Adalab" class="footer_links">
                    <h2>INSTAGRAM</h2>
                </a>
            </li>
            <li><a style="text-decoration:none"href="https://adalab.es" title="Ir a la página de Adalab" class="footer_links">
                    <h2>MASTODON.SOCIAL</h2>
                </a>
            </li>
        </ul>
    </nav>
<section class="footer__copy--container">
    <p class="footer__copy"> &copy 2021</p>
    <p class="footer__end"> We &#128147 components</p>
</section>
</footer>