<footer class="footer__background">
    <nav class="footer__container1">
        <ul>
            <li><a href="https://adalab.es" title="Ir a la página de Adalab">
                    <h2>ARTICLES</h2>
                </a>
            </li>
            <li><a href="https://adalab.es" title="Ir a la página de Adalab">
                    <h2>BOOKS</h2>
                </a>

            </li>
            <li><a href="https://adalab.es" title="Ir a la página de Adalab">
                    <h2>EVENTS</h2>
                </a>

            </li>
            <li><a href="https://adalab.es" title="Ir a la página de Adalab">
                    <h2>REASONS</h2>
                </a>

            </li>
            <li><a href="https://adalab.es" title="Ir a la página de Adalab">
                    <h2>TIPS</h2>
                </a>

            </li>
        </ul>
    </nav>
    <!--Menu de redes sociales -->
    <nav class="footer__container2">
        <ul>
            <li><a href="https://adalab.es" title="Ir a la página de Adalab">
                    <h2>TWITTER</h2>
                </a>
            </li>
            <li><a href="https://adalab.es" title="Ir a la página de Adalab">
                    <h2>INSTAGRAM</h2>
                </a>
            </li>
            <li><a href="https://adalab.es" title="Ir a la página de Adalab">
                    <h2>MASTODON.SOCIAL</h2>
                </a>
            </li>
        </ul>
    </nav>
    &copy 2021;
    <small>
        we (corazón) components
    </small>
</footer>