<main>
    <section id="Three_reasons_paragraph" class="main__section">
        <h2 class="main__section--title">3 Reasons To Purchase</h2>
        <section class="main__section--grid">
            <article class="main__article--container">
                <h3 class="main__section--subtitle">Ut sed metus</h3>
                <p class="main__section--paragraph">Lorem ipsum dolor sit amet, consecteur.</p>
            </article>
            <article class="main__article--container">
                <h3 class="main__section--subtitle">Curabitur ac erat</h3>
                <p class="main__section--paragraph">Mauris mattis urna quis lorem molestie.</p>
            </article>
            <article class="main__article--container">
                <h3 class="main__section--subtitle">Morbi dictum</h3>
                <p class="main__section--paragraph">Aliquam in dolor et dolor tincidunt.</p>
            </article>
        </section>
        <button class="main__button--more-reasons">More reasons</button>
    </section>
        <div class="footer_scroll">
            <a class="footer__buttom" href="#header" title="Ir al inicio">
                <img src="../../../assets/images/ico-arrow.svg"></a>
        </div>
    
</main>