.main__section--title{
    font-family: $font-paragraph;
    font-weight: 700;
    font-size: 24px;
    color:#000;
    margin-top:10px;
    text-align: center;
 }  

 .main__section--subtitle1 {
    font-family: $font-paragraph;
    font-weight: 800;
    font-size: 18px;
    color:#000;
    margin-top:10px;
    text-align: center;
 }  
 .main__section--paragraph1 {
    font-family: $font-paragraph;
    font-weight: 400;
    font-size: 18px;
    color:#000;
    margin-top:10px;
    text-align: center;
 }  

 .main__section--subtitle2 {
    font-family: $font-paragraph;
    font-weight: 800;
    font-size: 18px;
    color:#000;
    margin-top:10px;
    text-align: center;
 }  

 .main__section--paragraph2 {
    font-family: $font-paragraph;
    font-weight: 400;
    font-size: 18px;
    color:#000;
    margin-top:10px;
    text-align: center;
 }  

 .main__section--subtitle3 {
    font-family: $font-paragraph;
    font-weight: 800;
    font-size: 18px;
    color:#000;
    margin-top:10px;
    text-align: center;
 }  

 .main__section--paragraph3 {
    font-family: $font-paragraph;
    font-weight: 400;
    font-size: 18px;
    color:#000;
    margin-top:10px;
    text-align: center;
 }  