.main__section {
  width: 100%;
  height: 624px;
  margin: 376 0px;
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: rgb(239, 249, 255);
  align-items: center;
  justify-content: center;
}
.main__section--grid {
  display: grid;
  grid-template-columns: 180px;
  grid-template-rows: 138px 138px 138px;
  align-items: center;
  justify-content: center;
}
.main__section--title {
  font-family: "RobotoSlab-Bold";
  font-weight: 700;
  font-size: 24px;
  color: #000;
  margin-top: 10px;
  margin-bottom: 45px;
  text-align: center;
  white-space: nowrap;
  margin-left: 0;
}
.main__article--container {
  box-sizing: border-box;
  display: block;
  text-align: center;
}

.main__section--subtitle1 {
  font-family: "RobotoSlab-Bold";
  font-weight: 800;
  font-size: 18px;
  color: #000;
  margin-top: 10px;
  text-align: center;
}
.main__section--paragraph1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  margin-top: 10px;
  text-align: center;
}

.main__section--subtitle2 {
  font-family: "RobotoSlab-Bold";
  font-weight: 800;
  font-size: 18px;
  color: #000;
  margin-top: 10px;
  text-align: center;
}

.main__section--paragraph2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  margin-top: 10px;
  text-align: center;
}

.main__section--subtitle3 {
  font-family: "RobotoSlab-Bold";
  font-weight: 800;
  font-size: 18px;
  color: #000;
  margin-top: 10px;
  text-align: center;
}

.main__section--paragraph3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  margin-top: 10px;
  text-align: center;
}
.main__button--more-reasons {
  width: 0;
  height: 0px;
  border: rgb(239, 249, 255);
  background: rgb(239, 249, 255);
  padding: 0 0 0 0;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 25vw;
}
.main__button--more-reasons::before {
  content: "More reasons";
  text-align: center;
  padding: 10px 30px;
  background-color: #f26002;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #ffff;
  position: absolute;
  border: 2px solid #f26002;
  transform: translate (-50%, -50%) scale (0);
  border-radius: 30px;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
  white-space: nowrap;
}

.main__button--more-reasons::after {
  content: "More reasons";
  padding: 10px 30px;
  background-color: #ffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  position: absolute;
  color: #f26002;
  border: 2px solid #f26002;
  border-radius: 30px;
  transform: translate (-50%, -50%) scale (0);
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
  opacity: 0;
  white-space: nowrap;
}

.main__button--more-reasons:hover::before {
  transform: translate (-50%, -50%) scale (3);
  opacity: 0;
}

.main__button--more-reasons:hover::after {
  transform: translate (-50%, -50%) scale (1);
  opacity: 1;
}
.footer__scroll {
  width: 100vw;
  height: 0%;
  transform: translate(0, -100px);
  padding: 0 0 0 0;
  line-height: 0;
  font-size: 0;
  display: inline;
  margin-top: -20px;
}
.footer__buttom {
  border-radius: 50%;
  background-color: #fff;
  border: 0.5px;
  box-shadow: 0 2px 4px 0 black;
  position: absolute;
  padding: 12px 12px 8px 12px;
  left: 46vw;
  line-height: 0;
  font-size: 0;
  margin-top: -20px;
  animation: jump 0.7s ease 1s infinite alternate;
}
@keyframes jump {
  0% {
    transform: scale(1.1, 0.9);
  }
  50% {
    transform: scale(0.9, 1.1) translateY(-8px);
  }
  70% {
    transform: scale(1);
  }
}
